html, body {
    height: 100%
}

body {
    display: block;
    box-sizing: border-box;
}

div.main_part {
    margin: 0 auto;
    align-content: center;
    padding: 105px 5px;
}

.footer {
    height: 100px;
    background-color: black;
    bottom: 0;
    left: 0;
    padding: auto;
    position: absolute;
    right: 0;
}

.header {
    height: 100px;
    background-color: black;
    top: 0;
    left: 0;
    position: absolute;
    right: 0;
    color: white;
}